In [3]:
# Exercise 1

print ("Hello World\n" * 4)

Hello World
Hello World
Hello World
Hello World

In [1]:
# Exercise 2
num = (99**3)*8 

print (num)

7762392

In [ ]:
# Exercise 3

#  5 < 3  => False
#  3 == 3  => True
#  3 == "3"  => False
#  "3" > 3  => Error
#  "Hello" == "hello"  => False

In [ ]:
# Exercise 4

computerBrand = "Asus"

print (f"I have an {computerBrand} computer.")

I have an Asus computer.

In [ ]:
# Exercise 5

name = "Emmanuelle Frappier"
age = 25
shoeSize = 37
info = f"My name is {name}, I am {age} years old and my shoe size is {shoeSize}."

print(info)

My name is Emmanuelle Frappier, I am 25 years old and my shoe size is 37

In [ ]:
# Exercise 6

varA = 15
varB = 35

if varB > varA:
    print("Hello World")

In [24]:
# Exercise 7

number = int(input("Enter a number"))

remainder = number % 2

if remainder == 0:
    print(f"The number {number} is even")
else:
    print(f"The number {number} is odd")

The number 13 is odd

In [28]:
# Exercise 8

myName = "Emmanuelle"

userName = input("Enter your name")

userName = userName.strip().lower()

if userName == myName.lower():
    print ("Wohoo! we have the same name")
else:
    print (f"Nice to meet you {userName}")

Nice to meet you tom

In [37]:
# Exercise 9 : Tall enough to ride a roller coaster

UserHeight = input("Enter your height in cm")

UserHeight = UserHeight.replace("cm", "").strip()

if int(UserHeight) > 145:
    print("You are tall enough to ride the rollder coaster")
else:
    print("Sorry! You will need to grow some more to ride")

You are tall enough to ride the rollder coaster